.admin-section{
    flex-direction: column;
}
.navbar{
    flex-direction: column;
    align-items: center;
}
.navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 2px;
}
.logos{
    text-align: center;
}
.navos{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#logo_fb{
    position: absolute;
    top: 20px;
}
#Ramzan_bazar{
    flex-direction: column;
    align-items: center;
}
#House_compaign{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#Plantation_compaign{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#Meat_distributer{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#Blood_bank{
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.member_1_row{
    justify-content: center;

}
.member_1_row .image1{
    margin-top: 60px;
    border-radius: 30px;
}
.member_1_row .image2{
    margin-top: 10px;
    border-radius: 30px;
}
.member_1_row .image3{
    margin-top: 60px;
    border-radius: 30px;
}
.team_members .member_1_row img{
    flex-wrap: wrap;
    width: 40px;
    height:40px;
    margin: 30px;
    border-radius: 1px;
}
.team_members .member_2_row img{
    flex-wrap: wrap;
    width: 30px;
    height:30px;
}
.team_members .member_3_row img{
    flex-wrap: wrap;
    width: 30px;
    height:30px;
}
.footing{
    overflow: hidden;
}
#admin{
    overflow: hidden;
}
.project_page{
    overflow: hidden;
}
.home{
padding: 2px 11px;
height: 398px;
}
.home p{
    padding: 0px 50px;
    font-size: 2rem;
}
.footing
{
    flex-direction: column;
    height: 500px;
}
.footing_logo_intro p{
display: none;
}
.footing_project h2{
    display: none;
}
.footing_project ul li a{
font-size: 2rem;
margin: 0px;
}
.footing_project ul li{
    padding-right: 30px;
}
/* .footing ul{
    align-items: center;
    
} */
.footing_contact_info h2{

    display: none;
}
.footing_contact_info{
    margin-top: 30px;
}
.footing_logo_intro img{
    height: 80px;
    width: 80px;
}
.project_writing{
    margin-left: 15px;
    margin-right: 13px;
}
.project_makan{
    margin-left: 15px;
    margin-right: 13px;
}
.project_plant{
    margin-left: 15px;
    margin-right: 13px;
}
.project_meat{
    margin-left: 15px;
    margin-right: 13px;
}
.project_blood{
    margin-left: 15px;
    margin-right: 13px;
}
.footing::before{
    height: 69%;
}
#footing_logo_whatsapp p{
    margin-left: 10px;
    margin-top: 5px;
}
.footing_email p{
    margin: 0px;
    
}
.img2 img{
margin: 10px;
}
.img3 img{
    margin: 10px;
    }
    .img4 img{
        margin: 10px;
        }
        .img5 img{
            margin: 10px;
            }
            .img6 img{
                margin: 10px;
                }


                .home h1 {
                    animation-name: daud1;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                
                }
                
                @keyframes daud1 {
                    from {
                        font-size: 4.5rem;
                    }
                
                    to {
                        font-size: 5rem;
                    }
                }